$primary-color: #222;

body {
    font-family: 'Open Sans', sans-serif, 
}

.text-center {
    text-align: center;
    margin: 10vh;
}

.heading{
    font-family: 'Open Sans', sans-serif;
font-family: 'K2D', sans-serif;

}
.center {
    display: block!important;
    justify-content: center;
    align-items: center;

}

/*.top {
    height: 90vh;
    
}*/

nav {
    position: fixed;
    height: 5vh;
    top: 0;
    left: 0;
    width: 100%;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    z-index:20;

    & a {
        text-decoration: none;
        color: $primary-color;
        transition: all 50ms;
        &:hover {
            color: lighten($primary-color, 20);
            transition: all 50ms;
        }
    }
    .brand-name{
        font-weight:bold;
    }

}

/*.top {
    height: 90vh;
}*/

.footer{
    background-color:#f4f4f4;

    .names{
        font-size: 100%;
    }
}
.content{
    display: none;

    &.active{
        display: block;
    }
}
.img {
    width:100%;
    height: 500px;
}
