body{font-family:"Open Sans",sans-serif}.text-center{text-align:center;margin:10vh}.heading{font-family:'Open Sans', sans-serif;font-family:'K2D', sans-serif}.center{display:block !important;justify-content:center;align-items:center}nav{position:fixed;height:5vh;top:0;left:0;width:100%;background:#f4f4f4;margin:0;padding:0;z-index:20}nav a{text-decoration:none;color:#222;transition:all 50ms}nav a:hover{color:#555;transition:all 50ms}nav .brand-name{font-weight:bold}.footer{background-color:#f4f4f4}.footer .names{font-size:100%}.content{display:none}.content.active{display:block}.img{width:100%;height:500px}
/*# sourceMappingURL=app.css.map */
